.navbar {
  flex: 0 0 60px;
  height: 60px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 18px;
  right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  color: #333;
}

.user-icon {
  font-size: 16px;
  color: #888;
}

.divider {
  width: 1px;
  height: 30px;
  background: #ddd;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  background: #4d4d4d;
  color: white;

  border: none;
  border-radius: 4px;

  padding: 8px 14px;

  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background: #333;
}

@media (max-width: 720px) {
  .navbar {
    padding: 0 12px;
  }

  .navbar-right {
    gap: 10px;
  }

  .user-info span {
    display: none;
  }

  .divider {
    height: 24px;
  }

  .logout-btn {
    padding: 8px 10px;
    font-size: 13px;
  }
}
